body {
    font-family: 'Roboto', sans-serif; /* Modern font */
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #0d4515; /* Light beige from palette */
    color: #ffffff; /* White text color */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header {
    background-color: #59ae6a; /* Deep red from palette */
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: #ffffff; /* White for navigation links */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; /* Larger font size for links */
    transition: background 0.3s ,color 0.3s;
}

nav a:hover {
    color: #482622; /* Vibrant red on hover */
}

h1, h2, h3 {
    color: #ffffff; /* White for headings */
    text-align: center;
    margin-bottom: 10px;
}

.hero {
    text-align: center;
    padding: 80px 20px; /* Increased padding for more impact */
    background: linear-gradient(rgba(73, 131, 86, 0.905), rgba(25, 70, 42, 0.508)), url('https://i.pinimg.com/564x/86/a7/1c/86a71cf3fb857ba7567b81826a85043c.jpg') no-repeat center center/cover;
    color: #ffffff; /* White text color for hero section */
}

.hero h1 {
    color: #ffffff; /* Keep text color white */
}

.profile-pic {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    border: 7px solid #ffffff; /* White border */
}

.background-pic, .project-pic {
    max-width: 50%;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section {
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    background-color: #488353; /* Light blue for sections */
    transition: all 0.5s ease-out;
    font-size: 1.1em; /* Larger font size */
    color: #ffffff; /* White text for sections */
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1a3114; /* Deep red from palette */
    color: #ffffff; /* White text for footer */
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}